<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.jpg">
    <title>AutoCare</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style2.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="logo"></a> -->
    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="#" class="logo"> <span>Auto</span>Care </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">About</a>
        <a href="#services">features</a>
        <a href="#featured">Services</a>
        <a href="#newsletter">Subscribe</a>
        <a href="#contact">contact</a>
    </nav>
    {{!-- <div class="select-menu">
        <div class="select-btn">
            <span class="sBtn-text">Select your option</span>
             <i class="bx bx-chevron-down"></i>
        </div>
        <ul class="options">
            <li class="option">
                <i class="bx bxl-github"></i> <span class="option-text">Customer</span>
            </li>
        </ul>
    </div> --}}

    <div id="login-btn">
        <button class="btn"><a href="/">Logout</a> </button>
        <i class="far fa-user"></i>
    </div>


</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    
<h1> Get your vehicle serviced the right way<br>Quickly, easily and reliably!</h1>

<a href="#"><button class="btnn">get started</button></a>

</section>

<!-- home section ends -->
<section class="about" id="about">

<div class="row">

    <div class="image">
        <img src="images/mech.jpg" alt="">
    </div>

    <div class="content">
        <h3>Welcome to our AutoCare! 
</h3>
        <p>We are a full service automotive maintenance and repair shop, offering comprehensive diagnostic and repair services for every make and model. We also offer a wide range of other services, including transmission, cooling system, and electrical system repair. </p>
        <p>Whether you need a minor repair or major overhaul, we can help. Our goal is to provide you with the highest quality of service and customer satisfaction. We understand the importance of your vehicle and will do our best to keep it running smoothly and safely. We look forward to serving you and your vehicle. </p>
        <a href="#"><button class="btn">learn more</button></a>
    </div>

</div>

</section>



<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/s-1.png" alt="">
            <h3>Finding Repair shops</h3>
            <p>Our website allows you to search for repair shops based on location, service type, and other criteria. You can also read reviews from previous customers and get a better idea of what to expect from each shop. </p>
            <a href="#" class="btn">Try Now</a>
        </div>

        <div class="box">
            <img src="images/s-2.png" alt="">
            <h3>Finding Hotels</h3>
            <p>With our comprehensive search engine, you can easily find hotels in your area. Just enter your place and we’ll show you a list of nearby hotels. You can filter your search results by price, amenities, and more. </p>
            <a href="/hotel" class="btn">Try Now</a>
        </div>

        <div class="box">
            <img src="images/s-3.png" alt="">
            <h3>Finding Restaurants</h3>
            <p>We also offer helpful tips on how to get the most out of your restaurant experience. From choosing the right restaurant to the best way to order, we'll guide you every step of the way.
            Bon appetit!</p>
            <a href="/rest" class="btn">Try Now</a>
        </div>

    </div>

</section>

<section class="services" id="featured">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>Puncture Shop</h3>
            <p>This website is designed to help you find the closest puncture shop in your area. Whether you need a tire puncture repaired, or you’re looking to purchase new tires, you can use this website to quickly and easily find a puncture shop near you.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>parts repair</h3>
            <p>We have compiled a comprehensive list of repair shops in your area that specialize in car parts repair.Simply enter your zip code and a list of repair shops near you will appear. You can also select a specific car part to narrow down your search.  </p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-crash"></i>
            <h3>car insurance</h3>
            <p>Our Smart tools can help you find the best car insurance shop in your entered location. Whether you're looking for a local car insurance shop that fits your needs or trying to compare different insurance companies, our shop locator can help.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-battery"></i>
            <h3>battery replacement</h3>
            <p>We are here to help you find the best car battery shop near the entered location. Whether you’re looking for a new battery, a replacement battery, or just a check-up, we’ve got you covered. Simply enter your zip code or city and state and we’ll provide you with a list of shops in your specified area. </p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-gas-pump"></i>
            <h3>oil change</h3>
            <p>We understand that finding the right place for your car oil needs can be challenging, so we are here to help. Our shop locator will help you find the closest car oil shop in your area. All you have to do is enter your zip code or address and we will provide you with the nearest shop.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24/7 support</h3>
            <p>We are proud to offer 24x7 support to our customers. Our team of experts is available round the clock to answer any questions and provide assistance as needed.Our team has the experience and knowledge to help you solve any issue you may have. We look forward to helping you.</p>
            <a href="#" class="btn"> read more</a>
        </div>

    </div>
    
</section>

<!-- featured section ends -->

<!-- agents section starts  -->

<section class="newsletter" id="newsletter">
    
    <h3>subscribe for latest updates</h3>
    <p> Our newsletter brings you updates on the latest news, events, and offers in our store. We hope you enjoy reading it and find it useful.</p>

   <form action="">
        <input type="email" placeholder="enter your email">
        <input type="submit" value="subscribe">
   </form>

</section>

<!-- agents section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

<h1 class="heading"> <span>contact</span> us </h1>

<div class="icons-container">

    <div class="icons">
        <img src="images/icon-1.png" alt="">
        <h3>phone number</h3>
        <p>+123-456-7890</p>
        <p>+111-222-3333</p>
    </div>

    <div class="icons">
        <img src="images/icon-2.png" alt="">
        <h3>email address</h3>
        <p>gjkfj</p>
        <p>gggg</p>
    </div>

     <div class="icons">
        <img src="images/icon-3.png" alt="">
        <h3>office address</h3>
        <p>kjdkLKFLKFA</p>
    </div>

</div>

<div class="row">

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="number" placeholder="number">
        </div>
        <div class="inputBox">
            <input type="email" placeholder="email">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

  <!--   <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30153.788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1626697480414!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe> -->

</div>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>our Services</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> TamilNadi</a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Maharashtra </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Andhra Pradesh</a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Kerala </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Karnataka</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> About us </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Subscribe </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> s@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>india</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>


</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>